body {
    margin: 0;
    padding: 0;
}
.container {
    background-color: grey;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    .banner {
        height: 25%;
    }
    .liga_container {
        display: flex;
        background-color: white;
        height: 10%;
        .liga {
            width: 15%;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
    .main {
        height: 50%;
    }
    .footer {
        height: 15%;
        display: flex;
        .left {
            width: 70%;
        }
        .right {
            width: 30%;
        }
    }
}