body {
    margin: 0;
    padding: 0;
}
.container {
    background-color: rgb(172, 139, 109);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        height: 18%;
        .link {
            width: 60%;
        }
        .logo {
            width: 40%;
            background-color: rgb(165, 71, 42);
        }
    }
    .panel {
        display: flex;
        height: 80%;
        .left {
            width: 60%;
            background-color: rgb(165, 71, 42);
        }
        .right {
            width: 40%;
        }
    }
    .footer {
        background-color: rgb(78, 34, 21);
        height: 2%;
    }
}